{% extends 'base.html'  %}

{% block content %}


<style>

#container{
    width: 50%;
   box-shadow: rgba(0,0,0,0.2) 0px 3px 8px;
    height: auto;
    padding: 30px 20px 20px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}
#container h3{
    text-align: center;
}


</style>



<div class="container" id="container">
<h3><strong>Are you sure</strong></h3>
<form  method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}

<input class="btn btn-danger w-100" type="submit" value="Delete">



</form>



</div>

<script>


let inputfields= document.getElementsByTagName('input')
let bodyfield= document.getElementById('id_body')
let selectfield= document.getElementById('id_category')

for(let i=0 ; i<inputfields.length;i++){
    inputfields[i].classList.add('form-control')
}

bodyfield.classList.add('form-control')
selectfield.classList.add('form-control')

</script>

{% endblock content %}
