{% extends 'base.html' %}


{% block content %}

<style>


    #container{
        width: 50%;
       box-shadow: rgba(0,0,0,0.2) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;
        border: 1px solid rgb(230, 196, 196);
    }
    #container h3{
        text-align: center;
    }
    
    
    
    </style>


<div class="container" id="container">
    <h3><strong>Delete Profile</strong></h3>
    
    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      
    {{ss}}
        <input type="submit" value="Delete Profile" class="btn btn-danger">
    
    </form>
    
    
    
    
    
    </div>





<script>
let inputfields=document.getElementsByTagName('input');
let descfield= document.getElementById('id_about');
descfield.classList.add('form-control')

for(let i =0;i<inputfields.length;i++){
    inputfields[i].classList.add('form-control')
}


</script>


{% endblock content %}